* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.header {
  height: 8%;
  width: 100%;
  background-color: white;
  color: black;
}

.left-buttons {
  display: inline-block;
  height: 100%;
  width: 40%;
  margin-left: 1%;
}

.left-buttons > ul {
  height: 100%;
  width: 100%;
  margin: 0;
}

.left-buttons li {
  height: 100%;
  display: inline-block;
  margin-right: 4%;
}

.left-buttons img {
  height: 48%;
  margin-left: 3%;
  margin-bottom: 50%;
}

.left-buttons .search {
  height: 50%;
  margin-left: 4%;
}

.left-buttons .search-field {
  position: absolute;
  margin-left: 0;
  margin-top: 1.5%;
  border: 0.15em solid black;
  height: 3%;
  width: 12%;
}

.right-buttons {
  display: inline;
  float: right;
  height: 100%;
  width: 40%;
  margin-right: 1%;
}

.right-buttons > ul {
  height: 100%;
  width: 100%;
  margin: 0;
}

.right-buttons li {
  float: right;
  height: 100%;
  display: inline-block;
  margin-right: 4%;
}

.right-buttons img {
  float: right;
  height: 55%;
  margin-right: 3%;
  margin-top: 45%;
}

.right-buttons .friends {
  height: 80%;
  margin-top: 13%;
}

.right-buttons .bunny {
  height: 55%;
  margin-top: 34%
}

.right-buttons .cal {
  float: right;
  height: 65%;
  margin-right: 4.5%;
  margin-top: 30%;
}

table {
  background-color:#FFFFCC;
  border-collapse:collapse;
  border:1px solid #E6E6E6;
  color:#000000;
  width:100%;
  table-layout: fixed;
}

.calendar {
  height: 89%;
}

table .days {
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid black;
}

tr {
  height: 160px;
  width: 100%;
  background-color: white;
}

td div {
  /*background-color: blue;*/
  height: auto;
}
